:root{
    --primary:#DB4444;
    --primary-dark:#921010;
    --secondary:#F5F5F5;
    --green-color:#0F6;
    --green-dark:rgb(14, 135, 63);

}

.wrapper{
    @apply container mx-auto px-2 sm:px-2 md:px-4 lg:px-10 2xl:px-36
}

.center{
    @apply flex justify-center items-center
}

.center_between{
    @apply flex items-center justify-between
}

.border_radius{
    @apply rounded-[0.25rem]
}

.custom_transition{
    @apply transition-all duration-500
}

.section_border{
    @apply  border-b-2 border-black border-opacity-20
}

.rounded_timer{
    @apply bg-white rounded-full text-black center flex-col w-[3.875rem] h-[3.875rem]
}