#navbar {
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  .search_inp {
    position: relative;
    padding: 10px;
    input {
      padding: 0 10px;
      border: none;
      outline: none;
      &::placeholder {
        font-size: 12px;
      }
    }
    .search_icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
  }

  a {
    font-size: 1.1rem;
    &.active {
      border-bottom: 1px solid #000;
    }
  }

  border-bottom: 1px solid var(--secondary_color);
}
